/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.docs-navbar-header {
    background-color: #2745a7;
    color: #fff;    
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    padding: 1em 2em;
    position: fixed;
    width:100vw;
}
.docs-navbar-header * {
    margin: 0;
}

.mat-list * {
    color: black;
}

.mat-list-item-content {
    cursor: pointer;    
    transition: all 0.4s ease;
}

.mat-list-item-content:hover {
    background: rgba(0,0,0,0.1);
    border-radius: 1em;
    margin-left: 1em;
}